# Build and publish directories
bin/
obj/

# Visual Studio files
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Rider files
.idea/

# NuGet packages
*.nupkg
*.paket/paket-files/
packages/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Windows image file caches
Thumbs.db
ehthumbs.db

# macOS folder attributes
.DS_Store

# Linux OS files
*~
